<?xml version="1.0" encoding="utf-8"?>
<!-- AutoTrader system config file. -->
<AccountInfo>
	<!-- Trade Front：180.168.146.187:10100，Market Front：180.168.146.187:10110 -->
	<!-- Trade Front：180.168.146.187:10101，Market Front：180.168.146.187:10111 -->
	<!-- Trade Front：218.202.237.33 :10102，Market Front：218.202.237.33 :10112 -->
	<!-- 交易前置：180.168.146.187:10130 行情前置：180.168.146.187:10131 [7*24] -->
	<MarketFrontAddr>tcp://180.168.146.187:10131</MarketFrontAddr>
	<TraderFrontAddr>tcp://180.168.146.187:10130</TraderFrontAddr>
	<BrokerID>9999</BrokerID>
	<InvestorID></InvestorID>
	<Password></Password>
	<AppID>simnow_client_test</AppID>
	<AuthCode>0000000000000000</AuthCode>
</AccountInfo>

<ArbitrageParameter>
	<FirstInstrumentID>IF2008</FirstInstrumentID>
	<SecondInstrumentID>IF2009</SecondInstrumentID>
	<UpThreshold>3</UpThreshold>
	<DownThreshold>-2</DownThreshold>
</ArbitrageParameter>